@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto&display=swap');

h1{
    font: 3rem normal;
    font-family: 'Roboto', 'Comfortaa', Arial;
    text-align: center;
}

/* Resposta (js) + input */
h2, p, input{
    font-family: 'Comfortaa', 'Roboto', Arial;
    text-align: center;

}

/* Centralizar section! */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
  }

/* Melhorando visual da div */
#container{
    padding: 3vh;
    border-radius: 5%;
    text-align: center;
}

.Ash{
    background-color: #393636;
    color: white;
}

.AshBG{
    background-color: #B2B1B1;
    color: white;
}

.Clear{
    background-color: #58c5f8;
    color: aliceblue;
}

.ClearBG{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

.Clouds{
    background-color: #BFB983;
    color: aliceblue;
}

.CloudsBG{
    background-color: #eaeaea;
}

.Drizzle{
    background-color: #476593;
    color: white;
}

.DrizzleBG{
    background-color: #88ACD9;
    color: white;
}

.Dust{
    background-color: #6C88B0;
    color: aliceblue;
}

.DustBG{
    background-color: #9DB0CC;
    color: aliceblue;
}

.Fog{
    background-color: rgba(125, 186, 240, 0.73);
    color: white;
}

.FogBG{
    background-color: rgba(0, 112, 204, 0.795);
    color: white;
}

.Haze{
    background-color: rgb(153, 160, 166);
    color: black;
}

.HazeBG{
    background-color: #CAC5C1;
    color: black;
}

.Mist{
    background-color: #8A8581;
    color: rgb(76, 68, 68);
}

.MistBG{
    background-color: rgb(248, 239, 222);
    color: black;
}

.Rain{
    background-color: 
#B1CAE7;
    color: white;
}

.RainBG{
    background-color: rgb(223, 233, 245);
    color: black;
}

.Sand{
    background-color: #F09354;
    color: black;
}

.SandBG{
    background-color: #EB7526;
    color: black;
}

.Smoke{
    background-color: #928B82;
    color: white;
}  

.SmokeBG{
    background-color: #837E78;
    color: white;
}

.Snow{
    background-color: white;
    color: aliceblue;
}

.SnowBG{
    background-color: rgb(241, 241, 241);
    color: aliceblue;
}

.Squall{
    background-color: #101318;
    color: white;
}

.SquallBG{
    background-color: #5F6A8A;
    color: white;
}

.Thunderstorm{
    background-color: #6765CA;
    color: white;
}

.ThunderstormBG{
    background-color: #071959;
    color: white;
}

.Tornado{
    background-color: #5B595F;
    color: white;
}

.TornadoBG{
    background-color: #74707A;
    color: white;
}