h1{
    font: 30px normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0.5rem;
}

section{
    font: 15px normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 300px;
    height: 170px;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
}

.Ash{
    background-color: #393636;
    color: white;
}

.AshBG{
    background-color: #B2B1B1;
    color: white;
}

.Clear{
    background-color: #58c5f8;
    color: aliceblue;
}

.ClearBG{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

.Clouds{
    background-color: #BFB983;
    color: aliceblue;
}

.CloudsBG{
    background-color: #eaeaea;
}

.Drizzle{
    background-color: #476593;
    color: white;
}

.DrizzleBG{
    background-color: #88ACD9;
    color: white;
}

.Dust{
    background-color: #6C88B0;
    color: aliceblue;
}

.DustBG{
    background-color: #9DB0CC;
    color: aliceblue;
}

.Fog{
    background-color: rgba(125, 186, 240, 0.73);
    color: white;
}

.FogBG{
    background-color: rgba(0, 112, 204, 0.795);
    color: white;
}

.Haze{
    background-color: rgb(153, 160, 166);
    color: black;
}

.HazeBG{
    background-color: #CAC5C1;
    color: black;
}

.Mist{
    background-color: #8A8581;
    color: rgb(76, 68, 68);
}

.MistBG{
    background-color: rgb(248, 239, 222);
    color: black;
}

.Rain{
    background-color: 
#B1CAE7;
    color: white;
}

.RainBG{
    background-color: rgb(223, 233, 245);
    color: black;
}

.Sand{
    background-color: #F09354;
    color: black;
}

.SandBG{
    background-color: #EB7526;
    color: black;
}

.Smoke{
    background-color: #928B82;
    color: white;
}  

.SmokeBG{
    background-color: #837E78;
    color: white;
}

.Snow{
    background-color: white;
    color: aliceblue;
}

.SnowBG{
    background-color: rgb(241, 241, 241);
    color: aliceblue;
}

.Squall{
    background-color: #101318;
    color: white;
}

.SquallBG{
    background-color: #5F6A8A;
    color: white;
}

.Thunderstorm{
    background-color: #6765CA;
    color: white;
}

.ThunderstormBG{
    background-color: #071959;
    color: white;
}

.Tornado{
    background-color: #5B595F;
    color: white;
}

.TornadoBG{
    background-color: #74707A;
    color: white;
}